.esquerda{
    background-color: cornflowerblue;
    opacity: 0.95;
    position: absolute;
    top: 30px;
    left: 50px;
    height: 94vh;
    width: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
    border-radius: 5px;
    padding: 1rem;
    
}
.dereita {
    background-color: darkcyan;
    opacity: 0.95;
    position: absolute;
    top: 30px;
    right: 50px;
    height:94vh;
    width: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
    border-radius: 5px;
    padding: 1rem;
}
.formulario {
    position: absolute;
    top: 30px;
    left: 396px;
    height: 52vh;
    width: 91vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    padding: 0.2rem;
    background-color: aquamarine;
    opacity: 0.8;
    border: 1px solid;
    border-radius: 5px;
    
}
input {
    margin: 4px;
    width: 460px;
}
.fondo{
    position: relative;
    top: 176px;
    left: 6px;
    width: 42vw;
    height: 19vw;
    background-image: url(../graficos/Home/Wall2.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
}
