.esquerda{
    background-color: cornflowerblue;
    opacity: 0.7;
    position: absolute;
    border: 1px solid;
    border-radius: 5px;
    padding: 2rem;
    top: 40px;
    left: 90px;
    height: 92vh;
    width: 18vw;
}
.dereita {
    background-color: darkcyan;
    opacity: 0.7;
    position: absolute;
    border: 1px solid;
    border-radius: 5px;
    padding: 2rem;
    top: 40px;
    right: 90px;
    height:92vh;
    width: 18vw;
}

.centro {
    position: absolute;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    padding: 2rem;
    top: 40px;
    left: 30vw;
    height:92vh;
    width: 40vw;
}


img{
    position: relative;
    height: 400px;
    width: 300px;
}


.formulario {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 2rem;
    background-color: aquamarine;
    opacity: 0.8;
    position: absolute;
    border: 1px solid;
    border-radius: 5px;
    top: 40px;
    left: 1vw;
    height: 22vh;
    width: 75vh;
}

input {
    margin: 5px;
}
