*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../graficos/fondo.jpg);
    background-repeat: no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    }
.borde {
    width: 600px;
    height: 600px;
}


.taboleiro      {
    width: 550px;
    height: 550px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    background-color: #fff;
    border: solid thick blue;   
    
}  
.taboleiro *{
    font-family: Chess;
    text-align: center;
    font-size: 60px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    user-select: none;
    border: black thin dotted;
}       

.taboleiro *:hover{
    font-weight: 600;
}
.b{
    background-color: antiquewhite;
}
.n{
    background-color: hsl(187, 80%, 63%);
}  